.bg-gradient {
	background-image: linear-gradient(to bottom,
									  @theme_bg_color,
									  shade(@theme_bg_color, 0.94)
									  12%);
}

.new-account-btn {
	padding: 1rem;
}

.btn-important {
  background: @theme_selected_bg_color;
  color: white;
}

.folders_treeview:not(:selected) {
	background-color: @theme_popover_bg_color;
}

.lbl_enabled_folders {
	background-color: @theme_selected_bg_color;
	border-radius: 5em;
	padding: 0 .5em;
	opacity: .85;
	font-size: 80%;
}

.small-text {
    font-size: 80%;
}

/* .pop_folders{
	background-color: @theme_base_color;
} */
